:root {
    --ff-pry: ;
    --ff-sec: ;
    --ff-tertiary: ;

    --fs-300: ;
    --fs-400: ;
    --fs-500: ;
    --fs-600: ;
    --fs-800: ;

    --clr-pry: #ff5200;
    --clr-sec: #fee2b3;
    --clr-tertiary: ;
    --clr-white: #fff;
    --clr-black-200: rgb(0 0 0 / .5);
    --clr-black-400: rgb(0 0 0);

    --padding-inline: 1.1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--clr-white);
}

/* General */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-inline: var(--padding-inline);
}

a {
    text-decoration: none;
}

button {
    border-radius: 50vw;
    color: inherit;
}

button a {
    display: block;
    padding: 1rem 2rem;
    color: inherit;
}

button.btn-pry {
    border: 1px solid var(--clr-pry);
    background-color: var(--clr-pry);
    border-color: var(--clr-pry);
    color: var(--clr-white);
}

ul, ol {
    list-style: none;
}

/* Logo */
.logo {
    /* font-family: "Nunito", sans-serif; */
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-inline: var(--padding-inline);
    padding-block: 1.5rem;
    background-color: var(--clr-black-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > * {
    cursor: pointer;
}

.navbar ul {
    display: flex;
    gap: 1.5rem;
}

.navbar ul li {
    padding: .2rem 1rem;
}

/* Home tab */

.home {
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(0 0 0 / .5), rgb(0 0 0 / .2)), url(./img-hero.jpg);
    background-position: center;
    background-size: cover;
}

.home .container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero {
    /* text-align: center; */
}

/* Menu Tab */
.menu {
    background: var(--clr-sec);
    color: var(--clr-black-400);
}

.menu .container {
    /* min-height: 100vh; */
    padding-block: 7rem;
    /* display: flex; */
}

.menu .heading {
    text-align: center;
    margin-bottom: 3rem;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* height: 100%; */
}

.menu .card {
    border: 1px solid black;
    border-radius: 20px;
    /* padding: 1rem; */
}

.menu .card img {
    height: 200px;
    width: 200px;
    
    background-image: url(/src/menu-item-1.jpg);
    background-position: center;
    background-size: cover;
}

/* Contact Tab */

.contact {
    background-image: linear-gradient(rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url(./contact-bg.jpg);
    background-position: center;
    background-size: cover;
}

.contact .container {
    min-height: 100vh;
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-details {
    /* height: 500px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}

.about {
    width: 50%;
}

.reserve {
    width: 50%;
}

.reserve input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    /* border-color: var(--clr-pry); */
}

.reserve input::placeholder {
    font-family: inherit;
    font-size: 1rem;
}

.reserve input:focus {
    outline: var(--clr-pry);
}

