@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap');
/*font-family: 'Quicksand', sans-serif;*/

:root {
    --ff-heading: 'Quicksand', sans-serif;
    --ff-body:  'Nunito Sans', sans-serif;
    --ff-logo: ;

    --fs-300: ;
    --fs-400: ;
    --fs-800: ;

    --clr-pry: #ff5200;
    --clr-sec: #fee2b3;
    --clr-tertiary: ;
    --clr-white: #fff;
    --clr-black-200: rgb(0 0 0 / .5);
    --clr-black-400: rgb(0 0 0);

    --padding-inline: 1.1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--clr-white);
}

/* General */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-inline: var(--padding-inline);
}

a {
    text-decoration: none;
}

button {
    border-radius: 50vw;
    color: inherit;
}

button a {
    display: block;
    padding: 1rem 2rem;
    color: inherit;
    font-size: 17px;
    font-weight: 600;
}

button.btn-pry {
    border: 1px solid var(--clr-pry);
    background-color: var(--clr-pry);
    border-color: var(--clr-pry);
    color: var(--clr-white);
}

ul, ol {
    list-style: none;
}

/* === header === */

header {
    background-color: var(--clr-black-200);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

/* Logo */

.logo {
    font-family: var(--ff-heading);
    font-size: 26px;
    display: inline-block;
}

/* Navbar */
.navbar {
    display: inline-block;
    position: absolute;
    left: 40%;
}
/* cart */
.cart {
    border: green solid 2px;
    display: inline-block;
    font-family: var(--ff-body)
}
/*.navbar {
    position: fixed;
    padding-inline: var(--padding-inline);
    padding-block: 1.2rem;
    background-color: var(--clr-black-200);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}*/

.navbar li {
    cursor: pointer;
}

.navbar ul {
    display: flex;
    gap: 3rem;
}

.navbar ul li {
    padding: .3rem;
    border: 3px solid transparent;
    
}

.navbar ul .nav-active {
    border-bottom: 3px solid var(--clr-pry);
}
.nav-list li {
    font-family: var(--ff-body)
}

/* === Home tab === */

.home {
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(0 0 0 / .5), rgb(0 0 0 / .2)), url(./img-hero.jpg);
    background-position: center;
    background-size: cover;
}

.home .container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero {
    /* text-align: center; */
    max-width: 60%;
}

/* Stying h2 */
.hero h2 {
    font-family: var(--ff-heading);
    font-size: 45px;
}

.hero p {
    font-family: var(--ff-body);
    font-size: 20px;
}
.hero h2, .hero p {
    padding-bottom: 16.5px;
}
.hero span {
    color: var(--clr-pry)
}
/* Menu Tab */
.menu {
    background: var(--clr-sec);
    color: var(--clr-black-400);
}

.menu .container {
    min-height: 100vh;
    padding-block: 7rem;
    /* display: flex; */
}

.menu .heading {
    text-align: center;
    margin-bottom: 3rem;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* height: 100%; */
}

.menu .card {
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
}

.menu .card .img {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
}

.food-1 {
    background: url(/src/menu-item-1.jpg);
}

.food-2 {
    background: url(/src/menu-item-2.jpg);
}

.food-3 {
    background: url(/src/menu-item-3.jpg);
}



/* === Contact Tab === */

.contact {
    background-image: linear-gradient(rgb(0 0 0 / .7), rgb(0 0 0 / .7)), url(./contact-bg.jpg);
    background-position: center;
    background-size: cover;
}

.contact .container {
    min-height: 100vh;
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-details {
    /* height: 500px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}

.about {
    width: 50%;
}

.reserve {
    width: 50%;
}

.reserve input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    /* border-color: var(--clr-pry); */
}

.reserve input::placeholder {
    font-family: inherit;
    font-size: 1rem;
}

.reserve input:focus {
    outline-color: var(--clr-pry);
}




.hidden {
    display: none;
}